# IDE metadata
/.Rproj.user/
*.Rproj

# Installed/downloaded dependencies
/callPrimer3.R
/chopchop/
/primer3/
/virtualPCR/

# Local archival/work directory
/tempo/
/test/*
!/test/test_run.sh

# Generated genome indexes
*.2bit
*.ebwt

# Other
/protocol.md
/TECHNICAL_SPECIFICATION.md
