# IDE metadata
/.Rproj.user/
*.Rproj

# Installed/downloaded dependencies
/callPrimer3.R
/chopchop/
/primer3/
/virtualPCR/

# Local archival/work directory
/tempo/
/test/

# Generated genome indexes
*.2bit
*.ebwt
